
<link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./static/css/the-big-picture.css" rel="stylesheet">

<script src="./static/vendor/jquery/jquery.min.js"></script>
<script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</body>

</html>