<body class="d-flex flex-column" style="min-height: 106vh">
<main class="flex-fill"></main>
<footer class="bg-dark text-white text-center">Copyright 2020 HealthPanel<br>Autor ikony: Jemis Mali/Iconscut, szablon: Start Bootstrap LLC.</footer>
</body>
</body>

</html>