
<link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./static/css/the-big-picture.css" rel="stylesheet">

<script src="./static/vendor/jquery/jquery.min.js"></script>
<script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>