<body class="d-flex flex-column min-vh-100">
<footer class="bg-dark text-white text-center mt-auto">Copyright 2020 HealthPanel<br>Ikona: Jemis Mali/Iconscut,
    Szablon: Start Bootstrap LLC., Kalkulator: Brad Traversy
</footer>
</body>
<script src="./static/js/script.js"></script>
</html>