<body class="d-flex flex-column min-vh-100">
<footer class="bg-dark text-white text-center mt-auto">Copyright 2020 HealthPanel<br>Autor ikony: Jemis Mali/Iconscut,
    szablon: Start Bootstrap LLC.
</footer>
</body>
<script>

    document.getElementById("username").innerHTML = "Witaj, " + getCookieValue("name") + "!" || "Witaj, użytkowniku!";

</script>
</html>