<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Twoje źródło wiedzy o zdrowiu!">
    <link rel="icon" type="image/svg" href="./static/logo.svg"/>
    <link rel="icon" type="image/svg" href="./static/logo.svg"/>
    <title>Health Panel - twoje źródło wiedzy o zdrowiu!</title>
    <script src="./static/vendor/jquery/jquery.min.js"></script>
    <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/style.css" rel="stylesheet">
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
</head>
<script>
    function getCookieValue(a) {
        const b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
        return b ? b.pop() : '';
    }
</script>
