<%- include ("../partials/head.ejs") %>
<%- include ("../partials/navbar.ejs") %>

<section>

    <div class="container">
        <div class="row" style="margin-top: 5rem">
            <div class="grid-item col-md-6 mb-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Wybierz motyw tła!</h5>
                        <p class="card-text text-white">Możesz zmienić sobie tło strony w zależności od swoich
                            preferencji. Czerwone tła są najszybsze, ale pomarańczowe też dadzą radę. :D</p>
                        <button class="btn  btn-outline-warning"
                                onclick="document.cookie = 'style=orange; secure'; window.location.reload()">
                            Tęczowa pomarańcza
                        </button>
                        <button class="btn  btn-outline-light"
                                onclick="document.cookie = 'style=bike; secure'; window.location.reload()">
                            Rowerek
                        </button>
                        <button class="btn btn-outline-secondary"
                                onclick="document.cookie = 'style=boats; secure'; window.location.reload()">
                            Łodzie
                        </button>
                        <button class="btn  btn-outline-success"
                                onclick="document.cookie = 'style=trees; secure'; window.location.reload()">
                            Las <s>Vegas</s> Liściasty
                        </button>
                        <button class="btn  btn-outline-warning"
                                onclick="document.cookie = 'style=halloween; secure'; window.location.reload()">
                            Halloween
                        </button>
                    </div>
                </div>
            </div>

            <div class="grid-item col-md-6 mb-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Ustaw swoje imię!</h5>
                        <p class="card-text text-white">Twoje imię zostanie użyte w personalizacji strony głównej!</p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control bg-dark text-white" id="name"
                                       placeholder="Np. Karol">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"
                                    onclick="document.cookie = `name=${document.getElementById('name').value}; secure`">
                                Zapisz
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-12 mb-4">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title">Co robi ta stronka?</h5>
                        <p class="card-text text-white">Nasza strona dostarcza informacji o dziennej liczbie osób zakażonych koronawirusem, jednocześnie dając dostęp do listy obostrzeń lub mapy zakażeń. 
Z Health Panel możesz rozpączać lub podtrzymać zdrowy tryb życia, a także zbilansować swoją dietę. I pamiętaj, biegaj tylko na świeżym powietrzu!
Jeśli jednak nadal wolisz siedzieć w książkach, nie zapomnij o przerwie, która pozwoli Ci się odprężyć i zwiększyć wydajność pracy. Od teraz to wszystko w jednym miejscu! :D</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%- include ("../partials/footer.ejs") %>